@charset "UTF-8";
.banner-wrapper{width:1190px;margin:0 auto;position: relative;height: 30px;
    line-height: 30px;    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
h2{float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
    color:white
}
.nav-hd{
    float: left;
    font-size: 16px;
    font-weight: 700;
    li{float: left;    margin: 0 3px;
        text-align: center;
        padding: 0 4px;    position: relative;
        // &::after{content: '\E606';
        //     font-family: iconfont;
        //     color: #ff5000;
        //     top: -19px;
        //     position: absolute;
        //     left: 50%;
        //     font-size: 12px;
        //     margin-left: -15px;}
    a{padding: 0 5px;color:white}}
}
.nav-bd{float: left;
    font-size: 14px;
li{margin-left: 7px;    position: relative;float: left}
a{    float: left;
    padding: 0 5px;
    font-weight: 700;
color: white}}
}
.pipe{color:white;font-size: 14px;font-weight: normal;}